body {
	background-color: black;
	color: white;
}

#topInfo #navBar #head {
	width: 100%;
}

#appTitle {
	float:left;
	margin-left: 20px;
	width: 49%;
}

#accountSection {
	float: right;
	height: 70px;
	text-align: right;
	vertical-align: middle;
	width: 49%;
}

#accountButton, #logoutButton {
	text-align: right;
}

#loginButton, #accountButton, #logoutButton {
	font-size: 18px;
	margin-top: 20px;
}

.navBar {
	margin-left: 10px;
}

.pages {
	margin-left: 20px;
}

.login {
	float: left;
	text-align: center;
	width: 50%;
}

.register {
	float: left;
	text-align: center;
	width: 50%;
}

input {
	background-color: white;
	color: black;
}

#gamesList {
	font-size: 18px;
	float: left;
	width: 15%;
}

#gameDetails {
	font-size: 18px;
	float: left;
	margin-left: 20px;
	width: 80%;
}

#communityHead {
	margin-top: 30px;
}

#searchedFriend {
	font-size: 16px;
	margin-top: 10px;
}

#searchedFriendSpan {
	margin-right: 5px;
}

#searchFriend {
	border-radius: 25px;
	height: 30px;
	text-align: center;
	width: 300px;
}

#communityPosts {
	float: left;
	margin-top: 40px;
	width: 100%;
}

#socialMedia {
	text-align: center;
}

.footer {
	background-color: dodgerblue;
	bottom: 0;
	color: white;
	height: 35px;
	left: 0;
	position: fixed;
	width: 100%;
}

.footerLeft {
	float: left;
	text-align: left;
	width: 50%;
}

.footerLeft a {
	margin-left: 20px;
}

#version {
	color: white;
	margin-left: 10px;
}

.footerRight {
	color: white;
	float: right;
	text-align: right;
	width:50%;
}

.footerRight a {
	margin-right: 20px;
}